* {
    margin: 0;
    padding: 0;
}

#logo-container {
    text-align: center;
}

#logo-container img {
    width: 18%;
}

#logo-container div {
    border-top: solid 1px orange;
    background-color: #fdfbf1;
    padding-bottom: 1%;
}

#logo-container div h4 {
    margin-top: 1%;
    color: cadetblue;
}

#logo-container div p span {
    font-weight: bolder;
}

main {
    margin: 3% 32%;
}

#hero {
    text-align: center;
}

#hero>p {
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: start;
}

#hero img {
    border-radius: 3%;
}

#hero h3 {
    margin-bottom: 2%;
    margin-top: 2%;
    color: gray;
}

#hero div {
    padding-left: 2%;
    text-align: start;
    border-left: solid 2px orange;
}

#hero div h4 {
    color: #be5d31;
}

#hero div a {
    color: cadetblue;
    font-weight: bolder;
}

#ingredients,
#method {
    margin: 8% auto;
}

#ingredients h2,
#method h2 {
    border-bottom: solid 1px aqua;
    padding-bottom: 2%;
    color: gray;
}

#ingredients p {
    font-weight: bolder;
    line-height: 4rem
}

ul li,
ol li {
    margin-left: 5%;
}

ul li {
    line-height: 2rem;
}


ol li span {
    line-height: 4rem;
    font-weight: bolder;
}

#method p {
    line-height: 4rem;
}

#method p a {
    color: cadetblue;
}